@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link custom-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link custom-nav-link" href="#about-us">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link custom-nav-link" href="#contact-us">Contact</a>
    </li>


    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link custom-nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @User.Identity?.Name!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link custom-nav-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link custom-nav-link" href="#" id="registerDropdown">
                Register
            </a>
            <ul class="dropdown-menu border-0 shadow" aria-labelledby="registerDropdown">
                <li>
                    <a class="dropdown-item custom-dropdown-item" asp-controller="EmployeeRegister" asp-action="Register">
                        <i class="fas fa-briefcase"></i> Employee
                    </a>

                </li>
                <li>
                    <a class="dropdown-item custom-dropdown-item" asp-area="Identity" asp-page="/Account/Register">
                        <i class="fas fa-user"></i> Customer
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link custom-nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>