@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav sticky-navbar">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(user);

        string dashboardUrl = "#"; // Default URL in case no role is found

        if (roles.Contains("Admin"))
        {
            dashboardUrl = "/Admin/Dashboard";
        }
        else if (roles.Contains("Employee"))
        {
            dashboardUrl = "/Home/EmployeeDashboard";
        }
        else if (roles.Contains("Customer"))
        {
            dashboardUrl = "/Home/CustomerDashboard";
        }

        <li class="nav-item">
            <a class="nav-link text-dark" href="@dashboardUrl" title="DASHBOARD">
                Hello @User.Identity?.Name!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link custom-nav-link">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link custom-nav-link" href="#about-us">ABOUT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link custom-nav-link" href="#contact-us">CONTACT</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link custom-nav-link" href="#" id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register
            </a>
            <ul class="dropdown-menu border-0 shadow" aria-labelledby="registerDropdown">
                <li>
                    <a class="dropdown-item custom-dropdown-item" asp-controller="EmployeeRegister" asp-action="Register">
                        <i class="fas fa-briefcase"></i> Employee
                    </a>
                </li>
                <li>
                    <a class="dropdown-item custom-dropdown-item" asp-area="Identity" asp-page="/Account/Register">
                        <i class="fas fa-user"></i> Customer
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
    <a class="nav-link custom-nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
</li>


    }
</ul>
