@page
@model IndexModel
@{
    ViewData["Title"] = "Update Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h3 class="h4" style="color: #495057;">@ViewData["Title"]</h3>
                    <partial name="_StatusMessage" for="StatusMessage" />
                    <form id="profile-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                            <label asp-for="Username" class="form-label"></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                            <label asp-for="Input.PhoneNumber" class="form-label"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <button id="update-profile-button" type="submit" class="w-100 btn btn-lg custom-save-button">Save</button>

                        <style>
                            .custom-save-button {
                                background-color: #495057;
                                
                                color: white;
                                transition: background-color 0.3s, border-color 0.3s, color 0.3s;
                            }

                               
                                .custom-save-button:hover {
                                    background-color: deepskyblue;
                                    color: white;
                                }
                        </style>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
